/* Basic CSS File */


h1{
    text-align: center;
    font-family: optima; 
    font-size: 60px;
}


.images{
    border: 10px #e6ccff solid; 
    padding: 40px 40px 400px 40px; 
}


/* Set a background color and font for the whole page */
body {
    font-family: Arial, sans-serif;
    background: radial-gradient(circle, rgb(94, 2, 94), rgb(3, 3, 93), rgb(82, 1, 82), rgb(2, 2, 86));
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


/* Simple button style */
.button {
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background: #0056b3;
}


.image-container {
    width: 100%;
    height: 300px;
    position: relative;
    display: inline-block;
}

.image-container img {
    width: 100%;
    height: 100%;
    
    display: block;
}

.overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 10em;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 0.3); /* Slightly transparent black background */
    text-align: center;
}

/* .img_fluid {
    max-width: 100%;
    height: 100%;
} */