/* Basic CSS File */


h1{
    text-align: center;
    font-family: optima; 
    font-size: 60px;
}

.images{
    border: 10px #e6ccff solid; 
    padding: 40px 40px 400px 40px; 
}

/* Set a background color and font for the whole page */
body {
    font-family: Arial, sans-serif;
    background-color: #cc99ff;
    color: #333;
    line-height: 1.6;
    padding: 20px;
}


/* Simple button style */
.button {
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background: #0056b3;
}


